@use "sass:color";
@use "../../styles/breakpoints" as *;

// https://codepen.io/havardob/pen/MWawKVy
#dark-mode-toggle {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  label {
    position: relative;
    display: block;
    width: 60px;
    height: 36px;
    border-radius: 100px;
    background-color: var(--dark-mode-toggle-background);
    overflow: hidden;
    cursor: pointer;

    @include max-xs {
      width: 45px;
      height: 28px;
    }

    @include max-sm {
      width: 50px;
      height: 30px;
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 50%;
      top: 6px;
      left: 6px;
      transition: 0.5s ease;

      @include max-xs {
        width: 18px;
        height: 18px;
        top: 5px;
        left: 5px;
      }

      @include max-sm {
        width: 20px;
        height: 20px;
        top: 5px;
        left: 5px;
      }
    }

    &:before {
      background-color: var(--dark-mode-toggle-sun);
    }

    &:after {
      background-color: var(--dark-mode-toggle-background);
      width: 20px;
      height: 20px;
      top: 8px;
      left: -18px;
      transform: scale(0.00001);

      @include max-xs {
        width: 16px;
        height: 16px;
        top: 6px;
        left: -14px;
      }

      @include max-sm {
        width: 18px;
        height: 18px;
        top: 6px;
        left: -16px;
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label {
      &:before {
        background-color: var(--dark-mode-toggle-moon);
        transform: translateX(24px);

        @include max-xs {
          transform: translateX(17px);
        }

        @include max-sm {
          transform: translateX(20px);
        }
      }

      &:after {
        transform: translateX(42px) scale(1);

        @include max-xs {
          transform: translateX(31px) scale(1);
        }

        @include max-sm {
          transform: translateX(36px) scale(1);
        }
      }
    }
  }
}
