#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    margin-top: 0;
    color: #333;
  }
}

.tile-row {
  display: flex;
  gap: 5px;
}
