@use "../../styles/colors" as *;
@use "../../styles/breakpoints" as *;

:root {
  --color-correct: #{$correct};
  --color-correct-position: #{$correct-position};
  --color-incorrect: #{$incorrect};
}

@keyframes flipTile {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  80% {
    transform: rotateX(45deg);
  }
  85% {
    transform: rotateX(45deg);
    background: var(--final-color);
    border-color: var(--final-color);
    color: #fff;
  }
  100% {
    transform: rotateX(0deg);
    background: var(--final-color);
    border-color: var(--final-color);
    color: #fff;
  }
}

.tile {
  width: 50px;
  height: 50px;
  border: 2px solid $tile-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  transform-style: preserve-3d;
  perspective: 1000px;

  @include sm {
    width: 62px;
    height: 62px;
    font-size: 32px;
  }

  &.correct,
  &.correct-position,
  &.incorrect {
    color: #fff;
  }

  &.has-letter {
    border-color: $tile-border-color-filled;
  }

  &.correct {
    background: $correct;
    border: 2px solid $correct;
  }

  &.correct-position {
    background: $correct-position;
    border: 2px solid $correct-position;
  }

  &.incorrect {
    background: $incorrect;
    border: 2px solid $incorrect;
  }

  &.flip {
    animation: flipTile 0.8s ease-in-out;
    animation-fill-mode: both;
  }
}
