@use "../../styles/colors" as *;
@use "../../styles/breakpoints" as *;

.tile {
  width: 50px;
  height: 50px;
  border: 2px solid $tile-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @include sm {
    width: 62px;
    height: 62px;
    font-size: 32px;
  }

  &.correct,
  &.correct-position,
  &.incorrect {
    color: #fff;
  }

  &.has-letter {
    border-color: $tile-border-color-filled;
  }

  &.correct {
    background: $correct;
    border: 2px solid $correct;
  }

  &.correct-position {
    background: $correct-position;
    border: 2px solid $correct-position;
  }

  &.incorrect {
    background: $incorrect;
    border: 2px solid $incorrect;
  }
}
